.creditCardNumber {
  border: 1px solid lightgray;
  border-radius: 2px;
  width: 300px;
  height: 32px;
}

.creditCardExpireDate {
  border: 1px solid lightgray;
  border-radius: 2px;
  width: 150px;
  height: 32px;
}
